body {
    padding-top: 10px;
  }

.logo {
  height: auto;
  max-width: 55%;
  display: block;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 10%;
}

.title-description {
  font-size: 20px;
  text-align: center;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 10%;
  line-height: 24.2px;
}

.subheading {
  color: orange;
}

.heading-description {
  font-style: italic;
  padding-top: 2%;
}

.menu-item {
  padding: 20px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 20px;
}

.menu-item-img {
  width: 75px;
  height: 75px;
}

.menu-item-title {
  text-align: left;
}

.adjust-button {
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 4px;
}

.plus {
  font-size: 14px;
}

.quantity {
  font-size: 14px;
  border-style: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.adjust-quantities {
  display: flex;
  justify-content: right;
  align-items: center;
}

.subtotal-num {
  margin: auto
}

.menu-order-button {
  font-size: 15px;
  background-color: #84AFF187;
  border-radius: 12px;
  width: 69px;
  height: 27px;
}

.clear-all-button {
  font-size: 15px;
  background-color: rgba(174, 180, 188, 0.53);
  border-radius: 12px;
  width: 93px;
  height: 27px;
}

.popup-container {
  position: relative;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
}

.popup {
  width: 30%;
  height: 180px;
  background: #F28C28;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 10px;
}

.popup-description, .popup-orders {
  font-size: 100%;
  text-align: center;
  color: white;
  margin: auto;
  padding-top: 5%;
}

.close-container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
}

.close-confirmation {
  background-color: #F2D2BD;
  border-radius: 12px;
  width: 90px;
  height: 30px;
  text-align: center;
  margin: auto;
  border: 1px solid;
  position: absolute;
}
